/*-- scss:defaults --*/
$h3-font-size: 1.1rem !default;
$h4-font-size: 1.1rem !default;
$h2-font-color: #ff00ff !default;


/*-- scss:rules --*/

h2 {
  color: #000000;
}

h4 {
  text-decoration-line: underline;
}
